<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%;margin:auto"></div>
        <header>
            <h1>Drivefood</h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/nouscontacter">Contact</a></li>
                    <li><a href="/apropos">A propos</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quia, cupiditate voluptates perspiciatis maxime quam expedita atque tempora quibusdam. Maxime aperiam fugiat quisquam aut eos autem ad consequatur adipisci? Ipsam! </p>
        </section>

</body>
</html>