<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts </title>
</head>
<body>
    <div style="width: 50%;margin:auto"></div>
        <header>
            <h1>Drivefood</h1>
            <nav>
                <ul>
                    <li><a href="/apropos">A propos</a></li>
                    <li><a href="/nouscontacter">Contact</a></li>
                </ul>
            </nav>
        </header>
        <section>
             <h2>Contact</h2>
             <p>vous pouvez nous contscter sur www.drivefood.com</p>
        </section>
</body>
</html>