<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document </title>
</head>
<body>
    <div style="width: 50%;margin:auto"></div>
        <header>
            <h1></h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil </a></li>
                    <li><a href="/nouscontacter">Contact</a></li>
                    <li><a href="/apropos ">A propos</a></li>
                </ul>
            </nav>
        </header>
        <section>
             <h2>404-Page introuvable</h2>
             <p>Vous avez valide un url incorrect</p>
        </section>
</body>
</html>